// Filter styles

.filterDropdown>a>.dropdown-item{
    font-size: inherit;
}

#filterBtns{
    .btn, .btn-federal, .btn-viewAll, .btn-state, {
        margin: 0.5rem 0 0.5rem 1rem;
        padding: .3rem 1rem;
        border: 2px solid $primary;
        border-radius: 3px;
        background-color: #fff;
        color: $darker;
        font-size: 1.6rem;
    }
}

#filterBtns{
    .bootstrap-select{
    margin-right: 1rem;
    }
}
.dropdown-item{
    font-size: 1.4rem;
}

.dropdown-item:hover{
    background-color: $light-gray;
    color: $focus;
}

.btn-federal:active,
#btnFederal.active{
    background-color: $darker !important;
    color: #fff !important;
}

#filterBtns{
  .btn-viewAll{
    color: $focus !important;
  }
}

.button-select{
    display: inline-block;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.3rem 1rem;
    border: 2px solid $primary;
    border-radius: 3px;
    background-color: #fff;
    color: $darker;
    font-size: 1.6rem;
    font-weight: inherit;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    line-height: 1.5;
    height: auto;
}

.filterDropdown{
    padding: 0.8rem;
    min-width: 250px;
    max-height: 350px;
    overflow: scroll;
}

.filterCheckbox{
    font-size: 1.4rem;
    line-height: 3rem;
}

.filterCheckbox-sq{
    display: flex; 
    align-items: center;
}

.categorySearchInput{
    padding: .5rem 1rem;
    border: 1px solid $light-gray;
    width: 230px;
    font-style: italic;
    color: $dark-gray-2;
}
