@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
@import url("./all.css");


html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2.5rem;
  padding: 0;
  color: #333;
  padding: 0;
  margin: 0;
}

#logo {
  width: auto;
  height: 30px;
}

#header {
  width: 100%;
}

.sans {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
}

.hidden {
  display: none;
}
.w-90 {
  width: 90%;
}

.w-96 {
  width: 97%;
}

.w-70 {
  width: 70%;
}

h1 {
  color: #1e5477;
  font-size: 2.4rem;
  font-weight: bold;
}

h3 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.1;
  color: #555;
}

.detailsHeading {
  color: #5DA6D5;
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: .7rem;
  border-bottom: 3px solid #5DA6D5;
  margin: 3rem 0 1rem;
}

.subinfo {
  color: #555;
}

p {
  margin-top: 0;
  margin-bottom: .3rem;
}

a {
  color: #09c;
  font-weight: bold;
}

a:hover {
  color: #007399;
}

.related, .detailsSource {
  color: #719e29;
}

table.dataTable.nowrap th {
  font-weight: 600;
}

/*///////////// Navigation styles ///////////////*/
.navbar {
  border-top: 1px solid #ddd;
  padding: 0;
}

.navbar-light {
  background-color: #f3f3f3;
  padding: 0 1rem;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  margin: auto 1em;
}

.navbar-nav .active > .nav-link {
  padding: 1.2rem;
  background-color: #ddd;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 400;
}

.backToResults {
  font-weight: 500;
}

.text-warning {
  font-weight: 600;
}

/*input[type=checkbox] {
  margin-right: 0.5rem;
  border-radius: 3px;
  height: 3rem;
  padding-bottom: 8px;
  line-height: 18px;
}*/

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  border-color: #1e5477;
}


.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: none;
}

.search-blue {
  border: 1px solid #ccc;
  min-width: 250px !important;
  max-width: 300px;
  height: 30px;
  font-size: 1.6rem;
  font-style: italic;
}

.btn-search {
  color: #333;
 /* box-shadow: 0 0 0 1px #ccc !important;*/
  padding: 0.4rem 1.3rem !important;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: -3px;
  margin-top: 0!important;
}

.search-float {
  position: relative !important;
  width: 300px;
  float: right;
  right: 0;
}

.btn-search-sidenav {
  color: #fff;
/*  box-shadow: 0 0 0 1px #5da6d5 !important;*/
  background-color: #5da6d5;
  padding: 0.4rem 1.3rem !important;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: -3px;
  margin-top: 0!important;
}

.search-control {
  height: calc(2.5rem + 5px);
  line-height: 2rem;
  font-size: 1.3rem;
  font-style: italic;
  max-width: 220px;
}

.filterDropdown > a > .dropdown-item {
  font-size: inherit;
}

.filterList {
  overflow-y: auto;
  height: calc(100% - 160px);
}

.paginate_button.next a, .paginate_button.previous a {
  height: auto;
}

#filterBtns .btn, #filterBtns .btn-state,
#careSettings .btn.dropdown-toggle, #disciplines .btn.dropdown-toggle{
  margin: 0.5rem 0 0.5rem 0;
  padding: .8rem;
  line-height: 1.2rem;
  background-color: #fff;
  background-image: none;
  border: 1px solid #5da6d5;
  border-radius: 3px;
  color: #15394f;
  font-size: 1.4rem;
  min-width: 90px;
  text-align: left;
}

.dropdown-toggle::after {
  margin-left: 3.5em;
  vertical-align: 0.1em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}

.border-sep {
  border-left: 1px solid #5da6d5;
  text-shadow: 0 1px 0 #5da6d5;
  height: 28px;
  display: inline-block;
  margin-left: 15px;
}

.border-sep-sm {
  border-left: 1px solid #15242e;
  text-shadow: 0 1px 0 #15242e;
  height: 20px;
  display: inline-block;
  margin-right:  15px;
}


.btn-download {
  margin: 0.5rem 1rem;
  padding: .3rem 1rem;
  border: 2px solid #5da6d5;
  border-radius: 3px;
  background-color: #5da6d5;
  box-shadow: 0 0 0 1px #5da6d5;
  color: white;
  font-size: 1.4rem;

}

.btn-download-outline {
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.3rem 1rem;
  border: 2px solid #5da6d5;
  border-radius: 3px;
  background-color: #fff;
  color: #29719f;
  font-size: 1.4rem;
}

.btn-details {
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.3rem 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #29719f;
  font-size: 1.4rem;
  background: #fff linear-gradient(to bottom, #fff 0, #e0e0e0 100%) repeat-x;
  text-shadow: 0 1px 0 #fff;
}

.btn-download a {
  color: white;
  text-decoration: none;
}

#filterBtns .bootstrap-select {
  margin-right: 1rem;
}

.dropdown-item {
  font-size: 1.4rem;
}

.dropdown-item:hover {
  background-color: #edeef0;
  color: #719e29;
}

#filterBtns .btn-viewAll {
  color: #719e29;
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.3rem 1rem;
  border: 2px solid #719e29;
  border-radius: 3px;
  font-size: 1.6rem;
}

.button-select {
  display: inline-block;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.3rem 1rem;
  border: 2px solid #29719f;
  border-radius: 3px;
  background-color: #fff;
  color: #15394f;
  font-size: 1.6rem;
  font-weight: inherit;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  line-height: 1.5;
  height: auto;
}

.filterDropdown {
  padding: 0.8rem;
  min-width: 280px;
  max-height: 350px;
  overflow-y: auto;
}

.dropdown-menu {
  font-size: 1.4rem;
}

.filterCheckbox {
  font-size: 1.4rem;
}

/*.filterCheckbox-sq {
  display: flex;
}*/

.filterCheckbox input{
  margin-right: 7px;
}

#stateDropdown {
  margin-left: 1rem;
  min-width: 90px;
  max-width: 120px;
  height: 30px;
}

.reset {
  font-size: 1.4rem;
  position: relative;
}

a.reset {
  text-decoration: underline;
}
.resetDiv {
  display: inline-block;
  height: 28px;
  margin-top: 12px;
}

#moreBtn {
  line-height: 24px;
}

.categorySearchInput {
  padding: 0.5rem 1rem;
  border: 1px solid #edeef0;
  width: 230px;
  font-style: italic;
  font-size: 1.4rem;
  color: #555;
}


.filter-chooser {
  width: 350px;
  left: -350px;
  position: fixed;
  top: 40%;
  margin-top: -78px;
  z-index: 99999;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.filter-chooser .toggler {
  position: absolute;
  top: 0;
  right: -100px;
  display: inline-block;
  background-color: rgba(93, 166, 213,1);
  width: 160px;
  height: 93px;
  line-height: 152px;
  text-align: center;
  border-radius: 0 4px 4px 0;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
  transform: translate(0, 100%) rotate(-90deg);
  transform-origin: 0 0;
}

.filter-chooser .toggler:hover {
  background-color: #fff;
  border: 1px solid rgba(12, 110, 173, 0.5);
  color: rgba(12, 110, 173, 0.8);
  text-decoration: none;
}

.filter-chooser.opened {
  top: 80px;
}

.filter-chooser.opened .toggler {
  top: 62px;
  left: 652px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.filter-chooser .toggler:hover .fa.fa-filter.text-white {
  color: rgba(12, 110, 173, 0.5) !important;
}

.filter-chooser.opened .filter-chooser-inner {
  top: 80px;
  width: 350px;
  left: -350px;
  position: fixed;
  margin-top: -78px;
  z-index: 99999;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.filter-chooser-inner {
  position: relative;
  background-color: rgba(155, 155, 155, 0.5);
  padding: 15px 20px;
}

.filter-chooser.opened #sideNavFilters {
  width: 350px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.custom-control-label {
  margin-left: 8px;
  padding-left: 10px;
  line-height: 2rem;
}

.custom-control-label::after, .custom-control-label::before {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

#openSideFilters {
  margin-top: 0;
  position: relative;
  top: 0;
  font-size: 1.4rem;
  color: #5da6d5;
}

#openSideFilters:hover {
  background-color: #fff;
  color: #5da6d5;
}


#sideNavFilters {
  z-index: 200 !important;
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #5185a6;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  /* Position and style the close button (top right corner) */
  overflow-y: hidden;
}

#sideNavFilters .sideFilters-title {
  position: absolute;
  top: 0;
  background-color: #edeef0;
  color: #333;
  width: 100%;
  height: 5rem;
  /* margin-bottom: 2rem; */
}

#sideNavFilters .filterDrawer {
  /* width: 90%; */
  background-color: #edeef0;
  color: #333;
  margin: 1rem auto;
  /* padding: 1rem; */
  /* text-align: center; */
}

#sideNavFilters ul {
  padding-inline-start: 0;
}

#sideNavFilters ul li {
  list-style: none;
}

#sideNavFilters .closebtn {
  position: absolute;
  top: 1.4rem;
  right: 2.5rem;
  font-size: 2rem;
  margin-left: 1rem;
  color: #333;
}

.card-collapsed .card-body {
  display: none;
}

.clickable {
  padding: 1rem 1rem 1rem 8rem;
}

.clickable:focus, .clickable:hover {
  cursor: pointer;
}


#sideNavFilters .sideFilters-footer {
  background-color: #edeef0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#sideNavFilters .sideNavFilters-search {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
}

#sideNavFilters .sideNavFilters-search .filter-search {
  height: 4.4rem;
  font-style: italic;
  font-size: 1.6rem;
  display: inline-block;
  border: 2px solid #5da6d5;
}

#sideNavFilters .sideNavFilters-search .btn-search {
  font-size: 1.6rem;
  padding: 1.1rem 1.8rem;
  border: none;
  box-shadow: none;
}


.filterDrawer .card-body ul {
  list-style-type: none;

}

.filterDrawer .card-body ul li {
  margin-bottom: 0;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideFilters {
    padding-top: 15px;
  }

  .sideFilters a {
    font-size: 18px;
  }
}

#footer {
  background-color: #333;
  color: #999;
  font-size: 1rem;
  padding: 2rem 4rem;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

#footer a {
  opacity: 0.5;
  color: #ccc;
  transition: 0.5s;
}

#footer a:hover {
  opacity: 1;
}

.copydate {
  padding-top: 5px;
}

.social {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

.social li {
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.social li img {
  width: 30px;
  height: 30px;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.input-group-text {
  border: none;
  padding: 0;
  font-size: 2rem;
}

.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label, .input-group > .custom-select:focus, .input-group > .form-control:focus {
  z-index: 1;
}

.form-check-label {
  margin-left: 18px;
  margin-bottom: 10px;
}

.custom-select {
  height: calc(3.25rem + 3px);
  margin: .5rem 0;
  border: 1px solid #5da6d5;
  background: #fff url("images/caret-down.png") no-repeat 90% 39%;
  background-size: 9px;
  font-size: 1.4rem;
  min-width: 55px;
  padding: 0 .5rem;
  width: auto;
  appearance: none;
}

.custom-select::after {
  display: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.datetimepicker-input {
  font-size: 1.2rem;
  height: 3rem;
}

.card-body {
  padding: 1rem;
  background-color: #fff;
}

.card-title {
  padding: 0 .6rem;
}

.darkBG {
  background-color: #1E5477;
  color: #fff;
}

/* datatables */
.dataTable div, .dataTable span, .dataTable p, .dataTable h4 {
  white-space: normal;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before {
  top: 8px;
  background-color: #09c;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  content: '-';
  background-color: #86d993;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, .05);
}

.dataTables_length, .dataTables_paginate, .dataTables_info {
  display: inline-block;
}

.dataTables_paginate {
  margin: 0 1rem !important;
}

.buttons-collection {
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  color: #333;
  height: 32px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: .8rem;
  line-height: 18px;
}

.buttons-collection:hover,
.btn-details:hover {
  background-color: #e0e0e0;
  color: #333;
  background-position: 0 -15px;
}

.buttons-collection.dropdown-toggle:after {
  display: none;
}

.btn-pill {
  border-radius: 1.4rem;
  padding: .5rem;
}

.pillFilter {
  line-height: .7rem;
  height: 80px;
  width: 76%;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 111;
  padding: 0 0 1rem 0;
  font-size: 1rem;
}

.pillFilter.openAll {
  height: 100%;
  max-height: 300px;
  transition: height 500ms linear;
}

.pillFilter .btn {
  line-height: .8rem;
}

.pillFilter button {
  border-width: 1px;
  margin-right: .5rem;
  margin-top: 10px;
  padding: 0 .5rem;
}


.warning-text {
  line-height: 1.4rem;
  font-size: 1.4rem;
  margin-top: 4px;
}

.toptools {
  margin-top: 15px;
}

.page-item.active .page-link {
  background-color: #5da6d5;
}

/* dataTables CSS modification & positioning */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 0 !important;
  content: "" !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 0 !important;
  content: "" !important;
}

div.dataTables_wrapper div.dataTables_length select {
  font-size: 1.4rem;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: .6em;

}

table.dataTable thead th {
  position: relative;
  background-image: none !important;
  border-top: 1px solid #ddd;
}

.table-bordered td, .table-bordered th {
  border-right: 0;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute !important;
  top: 6px !important;
  font-size: 1.6rem !important;
  right: 11px !important;
  display: block !important;
  font-family: 'Font Awesome 5 Free' !important;
}

table.dataTable thead th.sorting:after {
  content: "\f0dc" !important;
  color: #2f2f2f !important;
  font-size: 1.6rem !important;
  padding-top: 0.12em !important;
}

table.dataTable thead th.sorting_asc:after {
  content: "\f0de" !important;
  opacity: 1;
}

table.dataTable thead th.sorting_desc:after {
  content: "\f0dd" !important;
  opacity: 1;
}

/* end datatables */

.filters {
  padding: 10px;
  border: 1px solid #ccc;
}

.filters h3 {
  font-size: 1.6rem;
  font-weight: 600;
}



.btn-label {
  position: relative;
  right: -5px;
  display: inline-block;
  padding: 6px;
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-primary {
  background-color: #fff;
  color: #343a3d;
  border-color: #5da6d5;
  padding: 0 1rem;
}

.btn-primary:hover {
  background-color: #5da6d5;
  color: #fff;
  border-color: #5da6d5;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #5da6d5;
  border-color: transparent;
}

.dataTable h4 {
  color: #5da6d5;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.badge-success {
  background-color: #719e29;
  padding: .5rem .75rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-left: .5rem;
}

.page-link {
  color: #29719f;
}

.dataTables_info {
  font-style: italic;
}

#filterBtns .btn-default, .btn-default,
.btn-secondary.buttons-collection,
.btn-secondary,
.btn-details,
.buttons-html5.btn-default, .btn-search {
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  color: #333;
  font-size: 1.4rem;
}


.filters .btn-group{
  display: inline-block;
}

.btn-group .buttons-html5.btn-default,
.btn-group .buttons-print.btn-default {
  margin-right: 1rem;
}

#filterBtns .btn.btn-default.reset {
  background-color: #fff;
  background-image: none;
  border: 2px solid #5da6d5;
}

#filterBtns .btn-default:hover,
.btn-default:hover,
.btn-details:hover,
.btn-search:hover,
#filterBtns .btn-default:hover, .btn-default:hover, .btn-secondary.buttons-collection:hover,
.btn-secondary.buttons-collection:hover{
  background: #e0e0e0 0 -15px;
  color: #333;
  box-shadow: none;
  border-color: #adadad;
}

#filterBtns .btn-default:active,
.btn-default:active,
.btn-default:focus,
.btn-details:active,
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle,
.btn-secondary.buttons-collection:focus,
.btn-secondary.buttons-collection:active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
  box-shadow: none;
  color: #333;
  font-style: inherit;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.custom-select:active,
.custom-select:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.btn-secondary.dropdown-toggle ul,
.filterDropdown  ul {
  list-style-type: none;
  padding-left: 0;
}

.filters h3 {
  font-size: 1.6rem;
}

.btn-group-lg > .btn, .btn-lg {
  padding: .3rem 1rem;
}

.btn:focus {
  outline: none;
  outline-offset: -2px;
}

/* ////////////// DETAILS PAGE ///////////////*/
.card-body ul {
  padding-inline-start: 0;
}

.card-body ul > li {
  list-style: none;
  line-height: inherit;
}

.card-title {
  margin-bottom: 0;
}

/* ///////////////// modal styles so we don't have to bring in all of the healthstream bootstrap ///////////// */
.modal-header {
  padding: 1.5rem;
  border-top: 3px solid #09c;
  border-bottom: 1px solid #e5e5e5;
  min-height: 1.6rem;
  background-color: #edeef0;
  display: block;
}

.modal-header .close {
  margin-top: -10px;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}

.close {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  margin: 0;
  font-family: inherit;
}

.close:hover {
  text-decoration: none;
  opacity: .5;
}

.modal-title {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
  line-height: 2.2rem;
}

.slat {
  position: relative;
  padding: 10px;
 /* color: #5da6d5;*/
  background-color: #eee;
  border: 1px solid #e1e1e1;
  border-left: 3px solid #ccc;
  margin: 7px 0;
}
.slat h4 {
  font-weight: bold;
}

.slat .slat-default .title {
  font-size: 16px;
  font-weight: 600;
}

.slat form {
  margin: 0;
  display: inline;
}

.slat-default ol {
  list-style-type: none;
  padding-inline-start: 10px;
}


.slat-modal .slat .slat-default .action .btn, .slat-modal .slat .slat-default .btn, .slat-modal .slat-default .action .btn, .slat-modal .slat-default .btn {
  height: 30px;
  width: 30px;
  overflow: hidden;
  line-height: 200px;
}

/*
.slat.slat-callout-w > .slat-default, .slat.slat-callout-wr > .slat-default, .slat.slat-callout > .slat-default {
  padding-right: 50%;
}
*/

.slat .slat-default .action .btn {
  display: block;
  width: 100%;
}

.slat:nth-of-type(2n+1) {
  background-color: #f9f9f9;
  border: 1px solid #ececec;
  border-left-color: rgb(236, 236, 236);
  border-left-style: solid;
  border-left-width: 1px;
  border-left: 3px solid #ccc;
}

.slat-modal .slat .slat-default .action, .slat-modal .slat-default .action {
  width: 30px;
}

.slat .slat-default .action, .slat .slat-default>.btn, .slat .slat-default>form>.btn {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -15px;

}

.slat-modal .slat .slat-default .action .btn, .slat-modal .slat .slat-default .btn, .slat-modal .slat-default .action .btn, .slat-modal .slat-default .btn {
  height: 30px;
  width: 30px;
  overflow: hidden;
  line-height: 200px;
}

.slat-modal .slat .slat-default .action .btn i, .slat-modal .slat .slat-default .btn i, .slat-modal .slat-default .action .btn i, .slat-modal .slat-default .btn i {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 30px;
  display: block !important;
  font-size: 1rem;
}

.slat .slat-default .meta {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slat .slat-default .meta li {
  display: inline-block;
  margin: 3px 7px 0 0;
}

.meta-type {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  color: #777;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.slat-modal .slat-default .meta .meta-callout {
  width: 35%;
}
.slat .slat-default .meta .meta-callout {
  position: absolute;
  left: 57%;
  top: 50%;
  height: 50px;
  width: 25%;
  margin: -25px 0 0;
  line-height: 50px;
}

.slat .slat-default .meta .meta-callout .meta-label {
  display: none;
}

.slat .slat-default .meta .meta-callout .meta-value {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  line-height: 1.4;
  width: 100%;
}

.slat:nth-of-type(odd) {
  background-color: #f9f9f9;
  border: 1px solid #ececec;
  border-left: 3px solid #ccc;
}

.slat .slat-default .meta-label {
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: 700;
  color: #666;
}

.modal-footer .btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.label-info {
  background-color: #5da6d5;
}

.myfiltered {
  border-bottom: 1px solid #ccc;
}

.allnotFiltered {
  display: none;
}

/*   ios switch */
.tg-list {
  text-align: center;
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  justify-content: flex-start;
}

.tg-list-item {
  margin: 0 2em 0 0;
  display: flex !important;
}

.tgl {
  display: none;
}


.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  margin-left: 12px;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 3em!important;
  padding: 2px;
  transition: all .4s ease;
  border: 1px solid #e8eae9;
}

.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}

#showAllContent {
  text-decoration: underline;
}

#overview p:nth-of-type(3) {
  height: 300px;
  overflow: hidden;
}

.showAll {
  height: 100% !important;
  overflow: visible;
}
